[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
aiohttp = "*"
asyncpg = "*"
sqlalchemy = "*"
python-dotenv = "*"
alembic = "*"
aio-pika = "*"
asyncio-redis = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[scripts]
test-client = "python client.py"
gateway = "python gateway.py"
makemigrations = "alembic revision --autogenerate"
upgrade = "alembic upgrade head"
downgrade = "alembic upgrade head"
diff = "git diff --cached --shortstat"